<server description="Sample Liberty server">

  <featureManager>
      <feature>jaxrs-2.0</feature>
      <feature>jsonp-1.0</feature>
      <feature>servlet-3.1</feature>
      <feature>apiDiscovery-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <keyStore id="defaultKeyStore"/>

  <basicRegistry id="basic" realm="ibm/api">
      <user name="guest" password="password" />
  </basicRegistry>


</server>
